<!DOCTYPE html>
<html>
  <head>
    <title>DoctorApp</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Appointment Maker</a>
          <a href="#" data-activates="mobile" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li> <%= link_to 'You', patients_path %> </li>
            <li> <%= link_to 'Doctors', doctors_path %> </li>
            <li> <%= link_to 'Appointment', new_appointment_path %> </li>
          </ul>
          <ul class="side-nav" id="mobile">
            <li> <%= link_to 'You', patients_path %> </li>
            <li> <%= link_to 'Doctors', doctors_path %> </li>
            <li> <%= link_to 'Appointments', new_appointment_path %> </li>
          </ul>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
